<div
  class="bg-[url('/assets/contact-img.png')] bg-cover px-3 lg:px-0 py-14.5 gap-4 bg-center min-h-screen"
>
  <div class="flex flex-col gap-5 font-lexend items-center">
    <h1 class="lg:text-5xl text-3xl text-center text-[#99BCC4] font-semibold">
      Let's Start Your Financial Journey
    </h1>
    <p class="text-white text-sm lg:text-xl font-semibold text-center lg:w-2/3 font-light">
      Ready to take control of your financial future? Get in touch for a free
      consultation and discover how we can help protect and grow your wealth.
    </p>
  </div>
  <div class="flex gap-10 my-9 lg:flex-row flex-col font-lexend px-3 lg:px-[100px]">
    <div class="px-4 lg:px-11 py-6 backdrop-blur-[40px] bg-[#ffffff]/10 rounded-2xl">
      <div class="flex flex-col gap-4">
        <h2 class="text-3xl font-medium text-[#99BCC4]">
          Schedule Your Consultation
        </h2>
        <p class="text-base font-light text-white w-full">
          Fill out the form below and I'll contact you within 24 hours.
        </p>
      </div>
      <div class="flex flex-col text-white gap-3.5">
        <div class="text-base flex flex-col gap-2.5">
          <label for="Name" class="text-lg text-white"
            >Name<sup class="text-red-400">*</sup></label
          >
          <div class="grid grid-cols-2 gap-4">
            <input
              type="text"
              class="bg-[#ffffff]/20 border outline-none border-[#02333C66] rounded-md p-2.5"
              placeholder="First"
              name=""
              id=""
            />
            <input
              type="text"
              placeholder="Last"
              name=""
              class="bg-[#ffffff]/20 outline-none border border-[#02333C66] rounded-md p-2.5"
              id=""
            />
          </div>
        </div>
        <div class="text-base flex flex-col gap-2.5">
          <label for="Email" class="text-lg text-white"
            >Email<sup class="text-red-400">*</sup></label
          >
          <div class="w-full grid grid-cols-1 gap-4">
            <input
              type="text"
              class="bg-[#ffffff]/20 outline-none border border-[#02333C66] rounded-md p-2.5"
              placeholder="johndoe@email.com"
              name=""
              id=""
            />
          </div>
        </div>
        <div class="text-base flex flex-col gap-2.5">
          <label for="text" class="text-lg text-white"
            >Phone<sup class="text-red-400">*</sup></label
          >
          <div class="w-full grid grid-cols-1 gap-4">
            <input
              type="text"
              class="bg-[#ffffff]/20 outline-none border border-[#02333C66] rounded-md p-2.5"
              placeholder="+1 (947)- 221- 0416"
              name=""
              id=""
            />
          </div>
        </div>

        <div class="text-base flex flex-col gap-2.5">
          <label for="text" class="text-lg text-white"
            >Personal Interest<sup class="text-red-400">*</sup></label
          >
          <div class="w-full grid grid-cols-1 gap-4">
            <input
              type="text"
              class="bg-[#ffffff]/20 outline-none border border-[#02333C66] rounded-md p-2.5"
              placeholder="State your interest"
              name=""
              id=""
            />
          </div>
        </div>
        <div class="text-base flex flex-col gap-2.5">
          <label for="text" class="text-lg text-white"
            >Comment or Message</label
          >
          <div class="w-full grid grid-cols-1 gap-4">
            <textarea
              type="text"
              class="bg-[#ffffff]/20 border outline-none  border-[#02333C66] rounded-md p-2.5"
              name=""
              id=""
            ></textarea>
          </div>
        </div>

        <div class="border-b border-white pb-7">
          <button
            class="bg-[#99BCC4] w-full p-3 rounded-md font-lexend text-white font-semibold text-xl"
          >
            Schedule a Consultation
          </button>
        </div>

        <div class="pt-1 text-white">
          <p class="font-lexend font-normal text-[#99BCC4] text-xl">
            Facing any problem to get a Consultaion!
          </p>
          <div class="flex items-center gap-2.5">
            <img src="assets/call-icon.png" alt="" />
            <div class="flex items-center">
              <p class="font-lexend font-bold text-xl">
                Call: <span class="text-[#99BCC4] underline">+19087201060</span>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="flex-col gap-12 lg:w-1/2 flex">
      <div class="bg-[#99BCC4] px-7 rounded-2xl py-10">
        <h1 class="text-4xl font-lexend font-semibold text-[#08535D] mb-7">
          Contact Information
        </h1>
        <div class="flex gap-4 flex-col items-start">
          <div class="flex items-center gap-2.5">
            <img src="assets/call-twoicon.png" alt="" />
            <div class="flex items-center">
              <p class="font-lexend text-[#02333C] font-normal text-xl">
                Phone:
                <span class="text-[#02333C] font-light text-base"
                  >(908) 720-1060</span
                >
              </p>
            </div>
          </div>
          <div class="flex items-center gap-2.5">
            <div class="w-6 h-6">
              <img src="assets/envelope-1.png"  alt="" />
            </div>
            <div class="flex items-center">
              <p class="font-lexend text-[#02333C] font-normal text-xl">
                Email:
                <span class="text-[#02333C] font-light text-base"
                  >wmavolo&#64;newyorklife.com</span
                >
              </p>
            </div>
          </div>

          <div class="flex items-center gap-2.5">
            <div class="w-6 h-6">
              <img src="assets/clock-icon.png" alt="" />
            </div>
            <div class="flex items-center">
              <p class="font-lexend text-[#02333C] font-normal text-xl">
                Business Hours:
                <span class="text-[#02333C] font-light text-base"
                  >9:00am - 5:00pm (Mon-Sat)</span
                >
              </p>
            </div>
          </div>

          <div class="flex items-center gap-2.5">
            <div class="w-6 h-6">
              <img src="assets/pin-icon.png" alt="" />
            </div>
            <div class="flex items-center">
              <p class="font-lexend text-[#02333C] font-normal text-xl">
                Location:
                <span class="text-[#02333C] font-light text-base"
                  >Piscataway, NJ</span
                >
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="bg-[#08535D] font-lexend rounded-2xl px-7 py-10">
        <h1 class="text-3xl font-normal text-[#99BCC4] mb-7">
          Why Choose Newyork Life Insurance
        </h1>
        <div
          class="px-7 text-[#99BCC4] text-xl pb-11 border-b border-[#99BCC4]"
        >
          <ul class="list-disc font-light flex flex-col gap-5">
            <li>A++ Superior Rating by A.M. Best</li>
            <li>175+ Years of Financial Strength</li>
            <li>Fortune 100 Company</li>
            <li>Largest Mutual Life Insurer in the U.S.</li>
          </ul>
        </div>

        <div class="pt-6">
          <p class="text-sm font-light text-[#99BCC4]">
            Licensed Professional: All recommendations are made by licensed
            insurance professionals and are subject to state insurance
            regulations.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
