<div class="bg-[#1F2937] px-3 lg:px-[100px] py-14.5">
  <div class="lg:flex grid grid-cols-1 lg:justify-between">
    <div class="flex flex-col gap-3">
      <div
        class="bg-[#99BCC4] border border-[#99BCC466] w-fit p-4 rounded-md font-lexend"
      >
        <p class="text-base text-[#1F2937]/85 font-medium">New York Life</p>
      </div>
      <div>
        <p class="font-lexend font-medium text-2xl text-[#99BCC4]">
          Worziyan Mavolo
        </p>
        <p class="text-[#99BCC4] text-base font-lexend">
          Life Insurance Agent & Financial Advisor
        </p>
      </div>
      <div>
        <div class="flex items-center gap-2.5">
          <img src="assets/call-icon.png" alt="" />
          <div class="flex items-center">
            <p class="font-lexend font-light text-xl">
              <span class="text-[#99BCC4]">(908) 720-1060</span>
            </p>
          </div>
        </div>
      </div>

      <div>
        <div class="flex items-center gap-2.5">
          <img src="assets/envelope.png" alt="" />
          <div class="flex items-center">
            <p class="font-lexend font-light text-xl">
              <span class="text-[#99BCC4]">wmavolo&#64;newyorklife.com</span>
            </p>
          </div>
        </div>
      </div>

      <div>
        <div class="flex items-center gap-2.5">
          <img src="assets/clock-outline.png" alt="" />
          <div class="flex items-center">
            <p class="font-lexend font-light text-xl">
              <span class="text-[#99BCC4]">9:00am - 5:00pm (Mon-Sat)</span>
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="flex flex-col gap-3">
      <h1 class="text-2xl text-[#99BCC4] font-medium font-lexend">
        Our Service
      </h1>
      <ul class="list-disc px-5 font-light text-xl text-[#99BCC4] font-lexend">
        <li>Life Insurance</li>
        <li>Retirement Planning</li>
        <li>Disability Insurance</li>
        <li>Education Funding</li>
        <li>Estate Conservation</li>
        <li>Long-Term Care</li>
        <li>Business Insurance</li>
        <li>Financial Planning</li>
      </ul>
    </div>

    <div class="flex flex-col gap-4 text-[#99BCC4]">
      <h1 class="text-2xl text-[#99BCC4] font-medium font-lexend">
        Trust & Compliance
      </h1>
      <div class="flex flex-col gap-4">
        <div class="flex items-center gap-2.5">
          <img src="assets/shield-plus2.png" alt="" />
          <div class="flex items-start flex-col">
            <h2 class="font-lexend text-xl font-normal">
              Licensed Professional
            </h2>
            <p class="text-lg font-light">New Jersey Insurance License</p>
          </div>
        </div>
        <div class="flex items-center gap-2.5">
          <img src="assets/document 1.png" alt="" />
          <div class="flex items-start flex-col">
            <h2 class="font-lexend text-xl font-normal">
              Client Relationship Summary
            </h2>
            <p class="text-lg font-light">Form CRS Available Upon Request</p>
          </div>
        </div>
        <div class="flex items-center gap-2.5">
          <img src="assets/exclamation 1.png" alt="" />
          <div class="flex items-start flex-col">
            <h2 class="font-lexend text-xl font-normal">FINRA Registered</h2>
            <p class="text-lg font-light">Member SIPC</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="mt-10 pt-3 border-[#99BCC4] border-t text-[#99BCC4]">
    <div class="flex items-center justify-between">
      <p class="font-lexend text-base font-normal">
        &copy; {{ year }} New York Life Insurance Company.All Rights Reserved.
      </p>
      <div><p class="text-base font-lexend font-normal">Serving Piscataway, NJ</p></div>
    </div>
  </div>
</div>
