<div
  class="font-lexend bg-[url('/assets/hero-bg2.png')] bg-cover gap-4 bg-center min-h-screen px-3 lg:pl-[100px] flex-col justify-center flex items-start text-white"
>
  <div
    class="bg-[#99BCC480] border border-[#99BCC466] p-4 rounded-md font-lexend"
  >
    <p class="text-base text-[#fff] font-medium">New York Life</p>
  </div>

  <div class="lg:w-2/3 flex flex-col gap-4">
    <div class="flex gap-3 font-semibold flex-col">
      <h1 class="text-5xl">Protect What Matters Most,</h1>
      <h1 class="text-5xl text-[#99BCC4]">Build Your Financial Future</h1>
    </div>
    <p class="text-white font-lexend font-light text-xl lg:w-3/4">
      I help individuals, families, and business owners create personalized
      strategies for financial security, retirement planning, and legacy
      protection with the trusted strength of New York Life
    </p>
  </div>

  <div class="flex gap-4 text-base lg:text-xl">
    <button
      class="bg-[#99BCC4] text-[#0D0D0D] font-lexend lg:px-4 px-2 py-2 rounded-md"
    >
      <a href="#contact-form"> Schedule Free Consultation </a>
    </button>
    <button
      class="rounded-md bg-[#99BCC44D] lg:px-4 py-2 text-base px-2 lg:text-xl font-lexend text-[#fff] border border-[#99BCC4]"
    >
      <a href="#contact-form"> Get Your Quote </a>
    </button>
  </div>
</div>
